/01-prove_multiples_of.py
/01-prove_rotate_list_right.py
/01-teach_divisors-solution.py
/01-teach_divisors.py
/01-teach_list_selector-solution.py
/01-teach_list_selector.py
/02-prove_search.py
/02-prove_sorting.py
/02-prove_standard_deviation.py
/02-teach_algorithms.py
/02-teach_four_functions.py
/03-prove_mystery_1.py
/03-prove_mystery_stack_2.py
/04-prove_priority_queue.py
/04-prove_taking_turns_queue.py
/04-teach_customer_service-solution.py
/04-teach_customer_service.py
/04-teach_simple_queue-solution.py
/04-teach_simple_queue.py
/05-prove_find_pairs.py
/05-prove_set_operations.py
/05-teach_display_sums-solution.py
/05-teach_display_sums.py
/05-teach_unique_letters-solution.py
/05-teach_unique_letters.py
/06-prove_maps.py
/06-prove_maps1.py
/07-prove_linked_list.py
/08-prove_recursion.py
/09-prove_trees.py
/census.txt
/venv